@@include('./include/head.html',{"title": "Layout : 네이버 VIBE", "list_title": "Layout : Common"})
<body data-pagestatus="new : 2021.06.02">
	<div class="wrap">
		<!-- [D] HEADER -->
@@include('./include/header.html')
		<!-- // [D] HEADER -->

		<!-- [D] CONTAINER -->
		<main id="container">
			<!-- Spotlight -->
			<div class="spot"></div>
			<!-- // Spotlight -->

			<!-- Content -->
			<div id="content"></div>
			<!-- // Content -->
		</main>
		<!-- // [D] CONTAINER -->

		<!-- [D] FOOTER -->
@@include('./include/footer.html')
		<!-- // [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer"></div>
	<!-- // [D] LAYER -->

@@include('./include/script.html')
</body>
</html>
